.root {
  list-style: none;
  max-height: calc(80dvh - 20px);
  overflow: auto;
  margin-bottom: 10px;
}

.root::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.root::-webkit-scrollbar-track {
  background: grey;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.root::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black;
}

.root li {
  padding: 5px 10px;
  cursor: pointer;
}
.root li:not(:last-child) {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.root.noDriver li {
  border-bottom: none;
}
